<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div>
    <h2>Users are here:</h2>
</div>

<div>
    <table>
        <thead>
        <tr>
            <th> Name </th>
            <th> Last Name </th>
            <th> Email </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${listUser.empty}">
            <td colspan="2"> No Users Available</td>
        </tr>
        <tr th:each="user : ${listUser}">
            <td><span th:text="${user.firstName}"> Name </span></td>
            <td><span th:text="${user.lastName}"> Last Name </span></td>
            <td><span th:text="${user.email}"> Email </span></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>